openapi: 3.1.0
info:
  title: Radar API
  version: "1.0.0"
  description: Radar location APIs for tracking, geocoding, search, routing, and data management.
servers:
  - url: https://api.radar.io/v1
security:
  - publishableKey: []
  - secretKey: []
components:
  securitySchemes:
    publishableKey:
      type: apiKey
      in: header
      name: Authorization
      description: Publishable API key (prj_live_pk_...)
    secretKey:
      type: apiKey
      in: header
      name: Authorization
      description: Secret API key (prj_live_sk_...)
  schemas:
    Meta:
      type: object
      properties:
        code:
          type: integer
        hasMore:
          type: boolean
        param:
          type: string
        message:
          type: string
    GeoJSONPoint:
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: number
    GeoJSONPolygon:
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
    LatLng:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
    ValText:
      type: object
      properties:
        value:
          type: number
        text:
          type: string
    TimeZone:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        currentTime:
          type: string
        utcOffset:
          type: integer
        dstOffset:
          type: integer
    Address:
      type: object
      properties:
        latitude:
          type: number
        longitude:
          type: number
        geometry:
          $ref: "#/components/schemas/GeoJSONPoint"
        country:
          type: string
        countryCode:
          type: string
        countryFlag:
          type: string
        county:
          type: string
        confidence:
          type: string
        borough:
          type: string
        city:
          type: string
        number:
          type: string
        neighborhood:
          type: string
        postalCode:
          type: string
        stateCode:
          type: string
        state:
          type: string
        street:
          type: string
        layer:
          type: string
        formattedAddress:
          type: string
        addressLabel:
          type: string
        placeLabel:
          type: string
        distance:
          type: number
        timeZone:
          $ref: "#/components/schemas/TimeZone"
    Fraud:
      type: object
      properties:
        verified:
          type: boolean
        passed:
          type: boolean
        bypassed:
          type: boolean
        blocked:
          type: boolean
        mocked:
          type: boolean
        jumped:
          type: boolean
        compromised:
          type: boolean
        inaccurate:
          type: boolean
        proxy:
          type: boolean
        sharing:
          type: boolean
    User:
      type: object
      properties:
        _id:
          type: string
        live:
          type: boolean
        userId:
          type: string
        deviceId:
          type: string
        description:
          type: string
        metadata:
          type: object
        location:
          $ref: "#/components/schemas/GeoJSONPoint"
        locationAccuracy:
          type: number
        foreground:
          type: boolean
        stopped:
          type: boolean
        deviceType:
          type: string
        ip:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        geofences:
          type: array
          items:
            $ref: "#/components/schemas/Geofence"
        place:
          type: object
        country:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
        state:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
        dma:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
        postalCode:
          type: object
          properties:
            code:
              type: string
        beacons:
          type: array
          items:
            $ref: "#/components/schemas/Beacon"
        fraud:
          $ref: "#/components/schemas/Fraud"
    Event:
      type: object
      properties:
        _id:
          type: string
        createdAt:
          type: string
        actualCreatedAt:
          type: string
        live:
          type: boolean
        type:
          type: string
        location:
          $ref: "#/components/schemas/GeoJSONPoint"
        locationAccuracy:
          type: number
        confidence:
          type: integer
        duration:
          type: number
        user:
          $ref: "#/components/schemas/User"
        geofence:
          $ref: "#/components/schemas/Geofence"
    Geofence:
      type: object
      properties:
        _id:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        live:
          type: boolean
        tag:
          type: string
        externalId:
          type: string
        description:
          type: string
        type:
          type: string
        geometry:
          $ref: "#/components/schemas/GeoJSONPolygon"
        geometryCenter:
          $ref: "#/components/schemas/GeoJSONPoint"
        geometryRadius:
          type: number
        mode:
          type: string
        metadata:
          type: object
        userId:
          type: string
        userIds:
          type: string
        ip:
          type: string
        tripApproachingThreshold:
          type: number
        dwellThreshold:
          type: number
        enabled:
          type: boolean
        operatingHours:
          type: object
    Trip:
      type: object
      properties:
        _id:
          type: string
        live:
          type: boolean
        externalId:
          type: string
        metadata:
          type: object
        mode:
          type: string
        destinationGeofenceTag:
          type: string
        destinationGeofenceExternalId:
          type: string
        destinationLocation:
          $ref: "#/components/schemas/GeoJSONPoint"
        eta:
          type: object
          properties:
            duration:
              type: number
            distance:
              type: number
        approachingThreshold:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
        scheduledArrivalAt:
          type: string
        arrivedAt:
          type: string
        completedAt:
          type: string
        status:
          type: string
          enum: [pending, started, approaching, arrived, expired, completed, canceled]
        user:
          type: object
          properties:
            _id:
              type: string
            userId:
              type: string
            deviceId:
              type: string
        userId:
          type: string
        locations:
          type: array
          items:
            type: object
        delay:
          type: object
          properties:
            delayed:
              type: boolean
            scheduledArrivalTimeDelay:
              type: number
    Beacon:
      type: object
      properties:
        _id:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        live:
          type: boolean
        description:
          type: string
        tag:
          type: string
        externalId:
          type: string
        type:
          type: string
          enum: [ibeacon, eddystone]
        uuid:
          type: string
        major:
          type: string
        minor:
          type: string
        uid:
          type: string
        instance:
          type: string
        geometry:
          $ref: "#/components/schemas/GeoJSONPoint"
        enabled:
          type: boolean
        metadata:
          type: object
    Place:
      type: object
      properties:
        name:
          type: string
        chain:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
            externalId:
              type: string
            metadata:
              type: object
        categories:
          type: array
          items:
            type: string
        location:
          $ref: "#/components/schemas/GeoJSONPoint"
    DirectionsStep:
      type: object
      properties:
        distance:
          $ref: "#/components/schemas/ValText"
        duration:
          $ref: "#/components/schemas/ValText"
        start_location:
          $ref: "#/components/schemas/LatLng"
        end_location:
          $ref: "#/components/schemas/LatLng"
        bearing_before:
          type: number
        bearing_after:
          type: number
        instructions:
          type: string
        banner_instructions:
          type: string
        voice_instructions:
          type: string
        geometry:
          type: object
          properties:
            polyline:
              type: string
        mode:
          type: string
        manuever:
          type: string
        street_name:
          type: string
        exit_name:
          type: string
    DirectionsLeg:
      type: object
      properties:
        startLocation:
          $ref: "#/components/schemas/LatLng"
        endLocation:
          $ref: "#/components/schemas/LatLng"
        duration:
          $ref: "#/components/schemas/ValText"
        distance:
          $ref: "#/components/schemas/ValText"
        geometry:
          type: object
          properties:
            polyline:
              type: string
        steps:
          type: array
          items:
            $ref: "#/components/schemas/DirectionsStep"
    OptimizeLeg:
      type: object
      properties:
        startLocation:
          $ref: "#/components/schemas/LatLng"
        endLocation:
          $ref: "#/components/schemas/LatLng"
        startIndex:
          type: integer
        endIndex:
          type: integer
        distance:
          $ref: "#/components/schemas/ValText"
        duration:
          $ref: "#/components/schemas/ValText"
        geometry:
          type: object
          properties:
            polyline:
              type: string
    RoadAttribute:
      type: object
      properties:
        roadClass:
          type: string
        speedLimit:
          $ref: "#/components/schemas/ValText"
        names:
          type: array
          items:
            type: string
        startLocation:
          $ref: "#/components/schemas/LatLng"
        endLocation:
          $ref: "#/components/schemas/LatLng"
        originalIndex:
          type: integer
    GeofenceBody:
      type: object
      required: [description, type]
      properties:
        description:
          type: string
        type:
          type: string
          enum: [circle, polygon, isochrone]
        coordinates:
          type: string
        address:
          type: string
        radius:
          type: number
        metadata:
          type: string
        userId:
          type: string
        userIds:
          type: string
        ip:
          type: string
        enabled:
          type: boolean
        disableAfter:
          type: string
        deleteAfter:
          type: string
        stopDetection:
          type: boolean
        mode:
          type: string
        tripApproachingThreshold:
          type: number
        dwellThreshold:
          type: number
        placeId:
          type: string
        operatingHours:
          type: string
    BeaconBody:
      type: object
      required: [description, tag, externalId, type]
      properties:
        description:
          type: string
        tag:
          type: string
        externalId:
          type: string
        type:
          type: string
          enum: [ibeacon, eddystone]
        uuid:
          type: string
        major:
          type: string
        minor:
          type: string
        uid:
          type: string
        instance:
          type: string
        coordinates:
          type: string
        enabled:
          type: boolean
        metadata:
          type: string
paths:
  /track:
    post:
      operationId: track
      summary: Track a location update
      security:
        - publishableKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [deviceId, latitude, longitude, accuracy]
              properties:
                deviceId:
                  type: string
                userId:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                accuracy:
                  type: number
                foreground:
                  type: boolean
                stopped:
                  type: boolean
                description:
                  type: string
                metadata:
                  type: object
                deviceType:
                  type: string
                  enum: [iOS, Android, Web]
                updatedAt:
                  type: string
                replayed:
                  type: boolean
                deviceOS:
                  type: string
                deviceMake:
                  type: string
                deviceModel:
                  type: string
                altitude:
                  type: number
                verticalAccuracy:
                  type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                  user:
                    $ref: "#/components/schemas/User"
  /geocode/forward:
    get:
      operationId: forwardGeocode
      summary: Forward geocode an address
      security:
        - publishableKey: []
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: layers
          in: query
          schema:
            type: string
        - name: country
          in: query
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, de, en, es, fr, ja, ko, pt, ru, zh]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  addresses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Address"
  /geocode/reverse:
    get:
      operationId: reverseGeocode
      summary: Reverse geocode coordinates
      security:
        - publishableKey: []
      parameters:
        - name: coordinates
          in: query
          required: true
          schema:
            type: string
          description: "latitude,longitude"
        - name: layers
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  addresses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Address"
  /geocode/ip:
    get:
      operationId: ipGeocode
      summary: IP geocode
      security:
        - publishableKey: []
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  address:
                    $ref: "#/components/schemas/Address"
                  proxy:
                    type: boolean
                  ip:
                    type: string
  /search/autocomplete:
    get:
      operationId: autocomplete
      summary: Autocomplete addresses and places
      security:
        - publishableKey: []
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - name: near
          in: query
          schema:
            type: string
          description: "latitude,longitude"
        - name: layers
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: countryCode
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  addresses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Address"
  /search/users:
    get:
      operationId: searchUsers
      summary: Search users near a location
      security:
        - secretKey: []
      parameters:
        - name: near
          in: query
          required: true
          schema:
            type: string
          description: "latitude,longitude"
        - name: radius
          in: query
          schema:
            type: integer
        - name: mode
          in: query
          schema:
            type: string
            enum: [car, truck, foot, bike]
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
  /search/geofences:
    get:
      operationId: searchGeofences
      summary: Search geofences near a location
      security:
        - publishableKey: []
      parameters:
        - name: near
          in: query
          required: true
          schema:
            type: string
          description: "latitude,longitude"
        - name: limit
          in: query
          schema:
            type: integer
        - name: radius
          in: query
          schema:
            type: number
        - name: tags
          in: query
          schema:
            type: string
        - name: includeGeometry
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  geofences:
                    type: array
                    items:
                      $ref: "#/components/schemas/Geofence"
  /search/places:
    get:
      operationId: searchPlaces
      summary: Search places near a location
      security:
        - publishableKey: []
      parameters:
        - name: near
          in: query
          required: true
          schema:
            type: string
          description: "latitude,longitude"
        - name: chains
          in: query
          schema:
            type: string
        - name: categories
          in: query
          schema:
            type: string
        - name: iataCode
          in: query
          schema:
            type: string
        - name: radius
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  places:
                    type: array
                    items:
                      $ref: "#/components/schemas/Place"
  /addresses/validate:
    get:
      operationId: validateAddress
      summary: Validate an address
      security:
        - publishableKey: []
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
        - name: stateCode
          in: query
          required: true
          schema:
            type: string
        - name: postalCode
          in: query
          required: true
          schema:
            type: string
        - name: countryCode
          in: query
          required: true
          schema:
            type: string
        - name: number
          in: query
          schema:
            type: string
        - name: street
          in: query
          schema:
            type: string
        - name: unit
          in: query
          schema:
            type: string
        - name: addressLabel
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  address:
                    type: object
                    properties:
                      addressLabel:
                        type: string
                      unit:
                        type: string
                      number:
                        type: string
                      street:
                        type: string
                      city:
                        type: string
                      stateCode:
                        type: string
                      postalCode:
                        type: string
                      plus4:
                        type: string
                      county:
                        type: string
                      countryCode:
                        type: string
                      formattedAddress:
                        type: string
                      metadata:
                        type: object
                        properties:
                          recordType:
                            type: string
                          propertyType:
                            type: string
                  result:
                    type: object
                    properties:
                      verificationStatus:
                        type: string
                        enum: [verified, partially verified, ambiguous, unverified]
  /route/distance:
    get:
      operationId: routeDistance
      summary: Calculate distance between two points
      security:
        - publishableKey: []
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
          description: "latitude,longitude"
        - name: destination
          in: query
          required: true
          schema:
            type: string
          description: "latitude,longitude"
        - name: modes
          in: query
          required: true
          schema:
            type: string
          description: "Comma-separated: car,truck,foot,bike"
        - name: units
          in: query
          schema:
            type: string
            enum: [metric, imperial]
        - name: avoid
          in: query
          schema:
            type: string
        - name: geometry
          in: query
          schema:
            type: string
            enum: [linestring, polyline5, polyline6]
        - name: departureTime
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  routes:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        distance:
                          $ref: "#/components/schemas/ValText"
                        duration:
                          $ref: "#/components/schemas/ValText"
  /route/matrix:
    get:
      operationId: routeMatrix
      summary: Calculate distance matrix
      security:
        - publishableKey: []
      parameters:
        - name: origins
          in: query
          required: true
          schema:
            type: string
          description: "Pipe-delimited lat,lng pairs"
        - name: destinations
          in: query
          required: true
          schema:
            type: string
          description: "Pipe-delimited lat,lng pairs"
        - name: mode
          in: query
          required: true
          schema:
            type: string
            enum: [car, truck, foot, bike]
        - name: units
          in: query
          schema:
            type: string
            enum: [metric, imperial]
        - name: avoid
          in: query
          schema:
            type: string
        - name: departureTime
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  origins:
                    type: array
                    items:
                      $ref: "#/components/schemas/LatLng"
                  destinations:
                    type: array
                    items:
                      $ref: "#/components/schemas/LatLng"
                  matrix:
                    type: array
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          distance:
                            $ref: "#/components/schemas/ValText"
                          duration:
                            $ref: "#/components/schemas/ValText"
                          originIndex:
                            type: integer
                          destinationIndex:
                            type: integer
  /route/match:
    post:
      operationId: routeMatch
      summary: Snap points to roads
      security:
        - publishableKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path:
                  type: array
                  items:
                    type: object
                    required: [coordinates]
                    properties:
                      coordinates:
                        type: string
                      createdAt:
                        type: string
                      accuracy:
                        type: number
                mode:
                  type: string
                  enum: [car, truck, foot, bike]
                roadAttributes:
                  type: string
                units:
                  type: string
                  enum: [metric, imperial]
                geometry:
                  type: string
                  enum: [linestring, polyline5, polyline6]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  matchedPath:
                    type: array
                    items:
                      type: object
                      properties:
                        latitude:
                          type: number
                        longitude:
                          type: number
                        originalIndex:
                          type: integer
                  roadAttributes:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoadAttribute"
                  geometry:
                    type: object
                    properties:
                      polyline:
                        type: string
                  distance:
                    $ref: "#/components/schemas/ValText"
  /route/directions:
    get:
      operationId: routeDirections
      summary: Get directions between locations
      security:
        - publishableKey: []
      parameters:
        - name: locations
          in: query
          required: true
          schema:
            type: string
          description: "Pipe-delimited, up to 25 lat,lng pairs"
        - name: mode
          in: query
          schema:
            type: string
            enum: [car, truck, foot, bike]
        - name: units
          in: query
          schema:
            type: string
            enum: [metric, imperial]
        - name: avoid
          in: query
          schema:
            type: string
        - name: geometry
          in: query
          schema:
            type: string
            enum: [linestring, polyline5, polyline6]
        - name: departureTime
          in: query
          schema:
            type: string
        - name: heading
          in: query
          schema:
            type: number
        - name: alternatives
          in: query
          schema:
            type: boolean
        - name: lang
          in: query
          schema:
            type: string
            enum: [de, en, es, fr, ja, ko, pt, ru]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  routes:
                    type: array
                    items:
                      type: object
                      properties:
                        duration:
                          $ref: "#/components/schemas/ValText"
                        distance:
                          $ref: "#/components/schemas/ValText"
                        legs:
                          type: array
                          items:
                            $ref: "#/components/schemas/DirectionsLeg"
                        geometry:
                          type: object
                          properties:
                            polyline:
                              type: string
  /route/optimize:
    get:
      operationId: routeOptimize
      summary: Optimize route ordering
      security:
        - publishableKey: []
      parameters:
        - name: locations
          in: query
          required: true
          schema:
            type: string
          description: "Pipe-delimited, up to 10 lat,lng pairs"
        - name: mode
          in: query
          schema:
            type: string
            enum: [car, truck, foot, bike]
        - name: units
          in: query
          schema:
            type: string
            enum: [metric, imperial]
        - name: geometry
          in: query
          schema:
            type: string
            enum: [linestring, polyline5, polyline6]
        - name: departureTime
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  route:
                    type: object
                    properties:
                      distance:
                        $ref: "#/components/schemas/ValText"
                      duration:
                        $ref: "#/components/schemas/ValText"
                      legs:
                        type: array
                        items:
                          $ref: "#/components/schemas/OptimizeLeg"
  /users:
    get:
      operationId: listUsers
      summary: List users
      security:
        - secretKey: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: updatedBefore
          in: query
          schema:
            type: string
        - name: updatedAfter
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
  /users/{id}:
    get:
      operationId: getUser
      summary: Get a user
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  user:
                    $ref: "#/components/schemas/User"
    delete:
      operationId: deleteUser
      summary: Delete a user
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
  /users/refresh:
    post:
      operationId: refreshUsers
      summary: Send remote track requests to users
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                type:
                  type: string
                  enum: [silentPush, pushExtension]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  sent:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                        reason:
                          type: string
  /trips:
    get:
      operationId: listTrips
      summary: List trips
      security:
        - secretKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: destinationGeofenceTag
          in: query
          schema:
            type: string
        - name: destinationGeofenceExternalId
          in: query
          schema:
            type: string
        - name: externalId
          in: query
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
        - name: includeLocations
          in: query
          schema:
            type: boolean
        - name: createdAfter
          in: query
          schema:
            type: string
        - name: createdBefore
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [createdAt, updatedAt]
        - name: delayed
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  trips:
                    type: array
                    items:
                      $ref: "#/components/schemas/Trip"
    post:
      operationId: createTrip
      summary: Create a new trip
      security:
        - publishableKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [externalId]
              properties:
                externalId:
                  type: string
                destinationGeofenceTag:
                  type: string
                destinationGeofenceExternalId:
                  type: string
                userId:
                  type: string
                mode:
                  type: string
                  enum: [foot, bike, car]
                approachingThreshold:
                  type: number
                scheduledArrivalAt:
                  type: string
                metadata:
                  type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  trip:
                    $ref: "#/components/schemas/Trip"
  /trips/{id}:
    get:
      operationId: getTrip
      summary: Get a trip
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  trip:
                    $ref: "#/components/schemas/Trip"
    delete:
      operationId: deleteTrip
      summary: Delete a trip
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
  /trips/{id}/update:
    patch:
      operationId: updateTrip
      summary: Update a trip
      security:
        - publishableKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, started, approaching, arrived, completed, canceled]
                mode:
                  type: string
                  enum: [foot, bike, car]
                destinationGeofenceTag:
                  type: string
                destinationGeofenceExternalId:
                  type: string
                approachingThreshold:
                  type: number
                scheduledArrivalAt:
                  type: string
                metadata:
                  type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  trip:
                    $ref: "#/components/schemas/Trip"
  /geofences:
    get:
      operationId: listGeofences
      summary: List geofences
      security:
        - secretKey: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: createdBefore
          in: query
          schema:
            type: string
        - name: createdAfter
          in: query
          schema:
            type: string
        - name: updatedBefore
          in: query
          schema:
            type: string
        - name: updatedAfter
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
        - name: externalId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  geofences:
                    type: array
                    items:
                      $ref: "#/components/schemas/Geofence"
  /geofences/{id}:
    get:
      operationId: getGeofenceById
      summary: Get a geofence by ID
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  geofence:
                    $ref: "#/components/schemas/Geofence"
    put:
      operationId: upsertGeofenceById
      summary: Upsert a geofence by ID
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/GeofenceBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  geofence:
                    $ref: "#/components/schemas/Geofence"
    delete:
      operationId: deleteGeofenceById
      summary: Delete a geofence by ID
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
  /geofences/{tag}/{externalId}:
    get:
      operationId: getGeofenceByTagAndExternalId
      summary: Get a geofence by tag and externalId
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  geofence:
                    $ref: "#/components/schemas/Geofence"
    put:
      operationId: upsertGeofenceByTagAndExternalId
      summary: Upsert a geofence by tag and externalId
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/GeofenceBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  geofence:
                    $ref: "#/components/schemas/Geofence"
    delete:
      operationId: deleteGeofenceByTagAndExternalId
      summary: Delete a geofence by tag and externalId
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
  /geofences/{tag}/{externalId}/users:
    get:
      operationId: getGeofenceUsers
      summary: Get users in a geofence
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
  /events:
    post:
      operationId: logConversion
      summary: Log a conversion event
      security:
        - publishableKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                metadata:
                  type: object
                revenue:
                  type: number
                userId:
                  type: string
                deviceId:
                  type: string
                installId:
                  type: string
                createdAt:
                  type: string
                duration:
                  type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  event:
                    $ref: "#/components/schemas/Event"
  /beacons:
    get:
      operationId: listBeacons
      summary: List beacons
      security:
        - secretKey: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: createdBefore
          in: query
          schema:
            type: string
        - name: createdAfter
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
        - name: externalId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  beacons:
                    type: array
                    items:
                      $ref: "#/components/schemas/Beacon"
    post:
      operationId: createBeacon
      summary: Create a beacon
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BeaconBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  beacon:
                    $ref: "#/components/schemas/Beacon"
  /beacons/{id}:
    get:
      operationId: getBeaconById
      summary: Get a beacon by ID
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  beacon:
                    $ref: "#/components/schemas/Beacon"
    put:
      operationId: upsertBeaconById
      summary: Upsert a beacon by ID
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BeaconBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  beacon:
                    $ref: "#/components/schemas/Beacon"
    delete:
      operationId: deleteBeaconById
      summary: Delete a beacon by ID
      security:
        - secretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
  /beacons/{tag}/{externalId}:
    get:
      operationId: getBeaconByTagAndExternalId
      summary: Get a beacon by tag and externalId
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  beacon:
                    $ref: "#/components/schemas/Beacon"
    put:
      operationId: upsertBeaconByTagAndExternalId
      summary: Upsert a beacon by tag and externalId
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BeaconBody"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  beacon:
                    $ref: "#/components/schemas/Beacon"
    delete:
      operationId: deleteBeaconByTagAndExternalId
      summary: Delete a beacon by tag and externalId
      security:
        - secretKey: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
  /settings:
    get:
      operationId: getPlacesSettings
      summary: Get Places settings
      security:
        - secretKey: []
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  chainMetadata:
                    type: object
                  chainMappings:
                    type: object
                  placeFilters:
                    type: object
    patch:
      operationId: updatePlacesSettings
      summary: Update Places settings
      security:
        - secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chainMetadata:
                  type: object
                chainMappings:
                  type: object
                placeFilters:
                  type: object
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/Meta"
                  chainMetadata:
                    type: object
                  chainMappings:
                    type: object
                  placeFilters:
                    type: object
